<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Permanent+Marker" rel="stylesheet">
  </head>
<body>
    <h1> News Articles </h1>
    
    <table class="striped" align="center">
        <thead>
          <tr>
              <th>News Today</th>
          </tr>
        </thead>

        <tbody>
        {% for each in news %}
          <tr>
            <td><a href="#"> <p>{{each['title']}}</p></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>